# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# PyTorch Checkpoints & Artifacts
*.pth
*.pt
*.bin

# Environment & IDE
.venv/
env/
venv/
ENV/
.vscode/
.idea/
.DS_Store

# Data & Notebook checkpoints
.ipynb_checkpoints
data/
*.wav
*.csv
